<div class="category-wrapper">
    <div class="photo-wrapper" data-src="https://2.bp.blogspot.com/-ErlovyvpO3o/WyGT6Vm017I/AAAAAAAAKSk/Qsoy7V4sK-kk_bkCeImrkUQIK3_X9uKjACLcBGAs/s1600/ian-dooley-347962-1240x826.jpg" style="background-image: url('https://2.bp.blogspot.com/-ErlovyvpO3o/WyGT6Vm017I/AAAAAAAAKSk/Qsoy7V4sK-kk_bkCeImrkUQIK3_X9uKjACLcBGAs/s1600/ian-dooley-347962-1240x826.jpg');"></div>
    <div class="category-text-wrapper">
        <p class="f-right tag">CATEGORY | TAG</p>
        <div class="clearfix"></div>
        <h3>Women Who Shaped Modern Photography</h3>
        <p>Όπως επισημαίνει, αν η κυβέρνηση νοιάζεται για το μέλλον των μαθητών «να μην ψηφίσουν το νομοσχέδιο που θα μας κάνει σε λίγα...</p>
        <a class="button read-more">Διάβασέ το<br><i class="fas fa-long-arrow-alt-right"></i></a>
    </div>
</div>