<div class="latest-banner-container">
    <h3 class="header">LATEST ARTICLES</h3>
    <div class="spacer-20"></div>
    <div class="clearfix"></div>
    <div class="columns medium-4 small-12">
        <a href="#"><img src="https://2.bp.blogspot.com/-ErlovyvpO3o/WyGT6Vm017I/AAAAAAAAKSk/Qsoy7V4sK-kk_bkCeImrkUQIK3_X9uKjACLcBGAs/s1600/ian-dooley-347962-1240x826.jpg"></a>
    </div>
    <div class="columns medium-8 small-12">
        <a>Article Title</a>
        <p class="date">June 13, 2021 / by Author Name</p>
    </div>
    <div class="clearfix"></div>
    <div class="spacer-20"></div>
    <div class="columns medium-4 small-12">
        <a href="#"><img src="https://2.bp.blogspot.com/-ErlovyvpO3o/WyGT6Vm017I/AAAAAAAAKSk/Qsoy7V4sK-kk_bkCeImrkUQIK3_X9uKjACLcBGAs/s1600/ian-dooley-347962-1240x826.jpg"></a>
    </div>
    <div class="columns medium-8 small-12">
        <a>Article Title</a>
        <p class="date">June 13, 2021 / by Author Name</p>
    </div>
    <div class="clearfix"></div>
    <div class="spacer-20"></div>
    <div class="columns medium-4 small-12">
        <a href="#"><img src="https://2.bp.blogspot.com/-ErlovyvpO3o/WyGT6Vm017I/AAAAAAAAKSk/Qsoy7V4sK-kk_bkCeImrkUQIK3_X9uKjACLcBGAs/s1600/ian-dooley-347962-1240x826.jpg"></a>
    </div>
    <div class="columns medium-8 small-12">
        <a>Article Title</a>
        <p class="date">June 13, 2021 / by Author Name</p>
    </div>
</div>