@font-face {font-family: "Publico Headline";
    src: url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.svg#Publico Headline") format("svg"); /* iOS 4.1- */
}
@font-face {
    font-family: "oregon";
    src: url(../fonts/OregonLdo-d9q7.ttf);
}
@font-face {
      font-family: "questa";
      src: url(../fonts/2-Questa_Sans_Regular.otf);
}
html {
    overflow-x: hidden;
}
.social-footer {
    margin: auto !important;
    width: 60%;
}
.owl-next span, .owl-prev span {
    display: none;
}
.row {
    width: 100%;
}
#example-dropdown-bottom-right1 {
    padding: 0px !important;
}/* 
a {
    color: $black !important;
} */
li {
    a:hover, a:focus {
        font-weight: bolder;
    }
}
.top-bar {
    font-size: 12px;
    background-color: black;

    ul {
        background-color: black;
    }
}
.search-button {
    background-color: rgba($color: #000000, $alpha: 0.1) !important;
}
.float-right {
    float: right !important;
}
.fixed-top {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 999999 !important;
}
#responsive-menu {/* 
    position: fixed !important; */
    top: 30px;
    width: 100%;
    z-index: 999999 !important;
    background-color: $light-green;
}
#responsive-menu-desktop {/* 
    position: fixed !important; */
    top: 30px;
    width: 100%;
    z-index: 999999 !important;
    background-color: $light-green;
    display: none;
}
.menu-logo {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    width: fit-content;
    font-size: 14px;
}
footer {
    background-color: $menta;
    padding: 50px 50px 0px 50px ;
    font-size: 12px;
     a {
        color: $black;
     }
     a:hover {
        color: $black !important;
        text-decoration: none !important;
        opacity: 0.8;
        font-weight: bolder;
     }
     i:hover {
        font-weight: bolder;
     }
    .vertical.dropdown.menu.accordion-menu {
        text-align: center;
    }
}
.text-center {
    text-align: center !important;
}
.article-image-wrapper {
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto 20px auto;
    height: 700px;
    background-attachment: fixed;
}
.divider{
    position: relative;
    span {
        background-color: $light-green;
        z-index: 10;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
        border-left: 1px solid black;
        border-right: 1px solid black;
        color: $black !important;
    }
}
.divider::before {
    content: '';
    height: 1px;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    background-color: black;
}
.container {
    width: 100%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
.spacer-800 {
    margin-bottom: 800px;
}
.spacer-700 {
    margin-bottom: 700px;
}
.spacer-600 {
    margin-bottom: 600px;
}
.spacer-300 {
    margin-bottom: 300px;
}
.spacer-250 {
    margin-bottom: 250px;
}
.spacer-200 {
    margin-bottom: 200px;
}
.spacer-150 {
    margin-bottom: 150px;
}
.spacer-100 {
    margin-bottom: 100px;
}
.spacer-90 {
    margin-bottom: 90px;
}
.spacer-65 {
    margin-bottom: 65px;
}
.spacer-60 {
    margin-bottom: 60px;
}
.spacer-50 {
    margin-bottom: 50px;
}
.spacer-40 {
margin-bottom: 40px;
}
.spacer-30 {
    margin-bottom: 30px;
}
.spacer-25 {
margin-bottom: 25px;
}
.spacer-20 {
margin-bottom: 20px;
}
.spacer-15 {
margin-bottom: 15px;
}
.spacer-10 {
margin-bottom: 10px;
}
.h_150 {
    height: 150px !important;
}
.h_300 {
    height: 300px !important;
}
.h_400 {
    height: 400px !important;
}
.h_450 {
    height: 450px !important;
}
.h_500 {
    height: 500px !important;
}
.h_650 {
    height: 650px !important;
}
.h_600 {
    height: 600px !important;
}
.h_700 {
    height: 700px !important;
}
.h_750 {
    height: 750px !important;    
}
.column {
    .callout {
      padding: 0px;
      border: none;
    }
}
.main-article {
    .main-article-box {
        display: block;
        float: left;
        width: 100%;
        position: relative;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        margin-bottom: 25px;

        .text-wrapper {
            position: absolute;
            bottom: 0;
            left: 20px;
            color: white;
            h2 {
                font-size: 3rem;
            }

        }

        .overlay {
            display: grid;
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -ms-flex-align: center;
            -webkit-box-align: center;
        }
    
        .overlay:hover {
        background-color: $black;
        opacity: 0.5;
        color: $white;
        }
    }

    h2 {
        font-size: 1.5em;
    }
    .article-text {
        font-size: 1em;
    }
    .date {
        font-size: 11px;
    }
    h2:hover,.article-text:hover,.date:hover {
        opacity: 0.8;
    }
}
.medium-article {
    .medium-article-box {
        display: block;
        float: left;
        width: 100%;
        position: relative;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        margin-bottom: 25px;

        .overlay {
            display: grid;
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -ms-flex-align: center;
            -webkit-box-align: center;
        }
    
        .overlay:hover {
        background-color: $black;
        opacity: 0.5;
        color: $white;
        }
    }

    h2 {
        font-size: 1.5em;
    }
    .article-text {
        font-size: 1em;
    }
    .date {
        font-size: 11px;
    }
    h2:hover,.article-text:hover,.date:hover {
        opacity: 0.8;
    }
}

.latest-articles-container {
    font-size: 12px;
    padding: 30px;

}
.small-article-container {
    font-size: 24px;
    text-align: center;
    box-shadow: 0px 0px 10px 1px rgba(10, 10, 10, 0.7);
    padding-bottom: 15px;
    background-color: $light-green;
    
    a {
        color: black;
    }
    a:hover {
        color: black;
        opacity: 0.8;
    }
    .date {
        text-align: center;
        font-size: 14px;
    }
    .small-article-img {
        display: block;
        background-position: center;
        background-size: cover;
    }
}
.borded {
    text-align: center;
     h4 {
         margin: 5px 0px;
     }
}
.bg-color-white {
    background-color: $white !important;
}
.archive-banner-container {
    background-color: $white;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 0px;
    }

    ul {
        padding: 15px 30px 30px 30px;
    }
    a {
        padding: 20px 20px 20px 0px !important;
    }

}
.p-inherit {
    position: inherit !important;
}
.latest-banner-container {
    background-color: $white;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    padding-bottom: 20px;
    .date {
        color: $sec-color;
        text-align: left;
        font-size: 11px;
    }
    a {
        text-align: left;
    }
    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 0px;
    }
}
.categories-banner-container {
    background-color: $white;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 0px;
    }
    ul {
        padding: 15px 30px 30px 30px;
    }
    a {
        padding: 20px 20px 20px 0px !important;
        border-bottom: 1px solid $light-green;
    }
}
.column, .columns, .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left !important;
}
.about-logo {
    height: 280px;
    width: 280px;
    margin: 0px auto;
    display: block;
}
.main-logo {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}
.category-photo-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    color: white;
    background-image: url('/assets/img/main_photo.jpg');
    background-position:center;
    background-size: cover;
    text-align: center;
}
.main-photo-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    color: white;
    background-image: url('/assets/img/main_photo.jpg');
    background-position:center;
    background-size: cover;
    a {
        color: white !important;
    }
}
.article-title-wrapper {
    color: $black;
    text-align: center;
    h1 {
        padding-top: 50px;
        font-size: 72px;
    }
    p {
        font-size: 24px;
        padding-bottom: 50px;
    }
    .column:first-child{
        border-right: $white 2px solid;
        p {
            font-size: 24px;
            padding: 0px 50px 50px 50px !important;
        }
    }

}
.article-main-image {
    display: flex;
    margin: auto auto 100px auto ;
}
@media print, screen and (max-width: 39.99875em) {
    body {
        overflow-x: hidden !important;
    }
    .navigation-bar .fa.fa-bars {
        font-size: 24px !important;
    }
    .article-image-wrapper {
        height: 500px !important;
        background-position: center center !important;
        background-size: cover !important;
    }
    .menu-logo {
        font-size: 13px;
    }
    .about-logo {
        height: 60% !important;
        width: 60% !important;
    }
    .category-photo-wrapper {
        height: 500px !important;
        position: absolute;
        top: 0;
        width: 100%;
        height: 600px;
        color: white;
        background-position:center;
        background-size: center;
        height: 300px !important;
        background-size: cover !important;
        font-size: 10px !important;
    }
    .main-photo-wrapper {
        height: 500px !important;
        position: absolute;
        top: 0;
        width: 100%;
        height: 600px;
        color: white;
        background-position:center;
        background-size: center;
        height: 300px !important;
        background-size: cover !important;
        font-size: 10px !important;
        a {
            color: white !important;
        }
    }
    .article-title-wrapper {
        padding: 25px !important;
        height: 100% !important;
        h1 {
            font-size: 32px !important;
        }
        p {
            font-size: 18px;
        }
        .column:first-child{
            border-right: none;
            border-bottom: white 2px solid;
            p {
                font-size: 12px;
            }
        }    
    }
    .article-main-image {
        margin: auto auto 25px auto ;
    }
    .main-logo {
        width: 120px !important;
        height: 120px !important;
    }
    .latest-articles-container {
        padding: 25px 0px 0px 0px !important;

    }
    .about-us-wrapper {
        padding: 0px 7px !important;
        h2 {
            text-align: center;
        }
    }
    .spacer-100 {
        margin-bottom: 50px !important;
    }
    .spacer-90 {
        margin-bottom: 30px !important;
    }
    .spacer-250 {
        margin-bottom: 125px !important;
    }
    .spacer-600 {
        margin-bottom: 300px;
    }
    .spacer-700 {
        margin-bottom: 350px !important;
    }
    .social-footer {
        width: 100%;
    }
    .h_400 {
        height: 200px !important;
    }
    .h_500 {
        height: 250px !important;
    }
    .h_750 {
        height: 350px !important;
    }
    .h_650 {
        height: 300px !important;
    }
    .h_600 {
        height: 300px !important;
    }
    footer {
        padding-top: 0 !important;
    }
    .article-text {
        font-size: 11px !important;
    }
    .date {
        font-size: 9px !important;
    }


    .subscribe-banner-container {
        padding: 10px !important;
        font-size: 18px !important;
        
        form {
            display: block !important;
    
            .newsletter-button {
                margin-right: 50px;
            }
            input {
                height: 50px;
                width: 100% !important;
            }
            p {
                text-align: center !important;
            }
        }
    
        .newsletter-button {
            background-color: #cfe2cf;
            color: $white;
            width: 100%;
        }
    
        .newsletter-button:hover,.newsletter-button:focus {
            background-color: $black;
        }
        h3 {
            background-color: $black;
            color: $white;
            font-size: 14px !important;
            text-align: center;
            font-weight: bold;
            padding: 10px;
        }
    
    }

}
.subscribe-banner-container {
    padding: 100px;
    width: 100%;
    font-size: 20px;
    
    form {
        display: flex;

        .newsletter-button {
            margin-right: 50px;
        }
        input {
            height: 50px;
            width: 350px;
        }
        p {
            text-align: right;
        }
    }

    .newsletter-button {
        background-color: #cfe2cf;
        color: $white;
    }

    .newsletter-button:hover,.newsletter-button:focus {
        background-color: $black;
    }
    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }

}
.follow-banner-container {
    background-color: $white;
    display: inline-block;
    width: 100%;
    font-size: 20px;

    i {
        padding: 20px;
        border: 3px solid $light-green;
        border-radius: 15px;
        width: 100%;
        text-align: center;
    }

    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }

}
.author-banner-container {
    background-color: $white;
    font-size: 11px;
    display: inline-block;

    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }
}
.p-r-0 {
    padding-right: 0 !important;
}
.p-l-0 {
    padding-left: 0 !important;
}
.m-t-9 {
    margin-top: 9px !important;
}
.medium-article-texts {
    a {
        color: black;
    }
    p {
        padding: 0.5rem 1rem;
        margin-bottom: 0;
    }
    a:hover {
        color: black;
        opacity: 0.8;
    }
    li {
        font-size: 13px;
        i {
            font-size: 11px !important;
        }
    }
}
.owl-prev {
    left: 0;
    cursor: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIzNnB4IiBoZWlnaHQ9IjM2cHgiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzYgMzYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMzYsMTYuOSA0LjMsMTYuOSAxMS41LDkuNiA5LjksOCAwLDE4IDkuOSwyOCAxMS41LDI2LjQgNC4zLDE5LjEgMzYsMTkuMSAiLz48L2c+PC9zdmc+") 16 16, pointer !important;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    width: 90px;

}
.owl-next {
    right: 0;
    cursor: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIzNnB4IiBoZWlnaHQ9IjM2cHgiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzYgMzYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMCwxOS4xIDMxLjcsMTkuMSAyNC41LDI2LjQgMjYuMSwyOCAzNiwxOCAyNi4xLDggMjQuNSw5LjYgMzEuNywxNi45IDAsMTYuOSAiLz48L2c+PC9zdmc+") 16 16, pointer !important;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    width: 90px;

}
#offCanvasMenu {

    a, .fab, .fas, .fa {
        color: $black;
    }
    span {
        font-size: 46px !important;
        float: right;
        margin-right: 20px;
    }
    span:hover{
        cursor: pointer;
    }
}
.off-canvas {
    background-color: $menta !important;
    font-size: 12px;
    .dropdown-pane {
        width: 150px !important;
    }
}
.about-us-wrapper {
    padding: 100px 25px;
}
.navigation-bar {
    font-size: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    
    .menu a,button, i{
        color: white;
    }
    .fa.fa-bars {
        font-size: 16px;
    }
    .fa.fa-bars:hover {
        cursor: pointer;
        font-weight: bolder;
        box-shadow: 0px 0px 5px 1px rgba(10, 10, 10, 0.2);
    }
    .fab, .fas {
        font-size: 13px !important;
    }
    .fab:hover, .fas:hover {
        font-weight: bolder;
        box-shadow: 0px 0px 5px 1px rgba(10, 10, 10, 0.2);
    }
}
.padding-a {
    padding: 11.2px 16px;
}
.menu.vertical {
    position: absolute;
}
.menu.vertical.nested {
    position: inherit;
}
.d-flex {
    display: flex !important;
}