@font-face {font-family: "Publico Headline";
    src: url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.eot"); /* IE9*/
    src: url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.woff2") format("woff2"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.woff") format("woff"), /* chrome firefox */
    url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("http://db.onlinewebfonts.com/t/18388ffae47d04063d2b24fc4a9cff60.svg#Publico Headline") format("svg"); /* iOS 4.1- */
}
@font-face {
    font-family: "oregon";
    src: url(../fonts/OregonLdo-d9q7.ttf);
}
@font-face {
      font-family: "questa";
      src: url(../fonts/2-Questa_Sans_Regular.otf);
}
@font-face {
      font-family: "ubuntu";
      src: url(../fonts/Ubuntu-Regular.ttf);
}
.category-load {
    display: none;
}
.category-load-1 {
    display: none;
}
.category-load-2 {
    display: none;
}
.category-load-3 {
    display: none;
}
.category-load-4 {
    display: none;
}
.category-load-5 {
    display: none;
}
.category-load-6 {
    display: none;
}
.category-load-7 {
    display: none;
}
.category-load-8 {
    display: none;
}
.category-load-9 {
    display: none;
}
.category-load-10 {
    display: none;
}
.load_more {
    margin-right: auto;
    margin-left: auto;
    display: block;
    padding: 15px 0;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: $black;
    background-color: $menta;
    border-radius: 25px;
    width: 280px;
    height: 60px;
}
.load_more:hover {
    font-weight: 900;
    color: $white;
    background-color: $black;
}
.load_more:focus {
    color: $white !important;
}
html {
    overflow-x: hidden;
}
.footer-social {
    margin: auto !important;
    width: fit-content;

    a {
        font-size: 24px;
    }
}
.owl-next span, .owl-prev span {
    display: none;
}
.row {
    width: 100%;
}
#example-dropdown-bottom-right1 {
    padding: 0px !important;
}
li {
    a:hover {
        color: #9BBE9B !important;
    }
}
.top-bar {
    font-size: 12px;
    background-color: black;

    ul {
        background-color: black;
    }
}
.search-button {
    background-color: $white !important;
}
.float-right {
    float: right !important;
}
.fixed-top {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 999999 !important;
}
#responsive-menu {
    top: 30px;
    width: 100%;
    z-index: 999999 !important;
    background-color: $light-green;
}
#responsive-menu-desktop {
    top: 30px;
    width: 100%;
    z-index: 999999 !important;
    background-color: $light-green;
    display: none;
}
.menu-logo {
    text-align: center;
    margin-left: auto !important;
    margin-right: auto !important;
    width: fit-content;
    font-size: 14px;
}
.fl-r {
    float: right !important;
}
.fl-l {
    float: left !important;
}
.w-60 {
    width: 60%;
}
.f-s-16 {
    font-size: 16px;
}
.sticky-navigation-bar {
    display: none;
    font-size: 18px !important;
    background-color: $white;
    z-index: 9;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 50px;

    .fa-bars {
        color: grey;
        font-size: 28px !important;
    }
    .fa-search {
        font-size: 22px !important;
    }
    .nav-logo {
        font-size: 28px !important;
        font-weight: bold;
    }
    .nav-logo:hover, .nav-logo:focus {
        color: $black;
    }
    i:hover {
        cursor: pointer;
    }
    a {
        color: $black;
    }
    a:hover {
        color: $black !important;
    }
    .center{
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center !important;
    }
    i {
        color: $black;
    }
}
.m-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}
.m-l-auto {
    margin-left: auto !important;
}
.m-r-auto {
    margin-right: auto !important;
}
.m-l-0 {
    margin-left: 0 !important;
}
.m-r-0 {
    margin-right: 0 !important;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-t-5 {
    margin-top: 5px;
}
.max-width {
    width: fit-content;
}
a:focus {
    outline: none !important;
    
}
footer {
    background-color: $menta;
    padding: 50px 50px 0px 50px ;
     a {
        color: $black;
     }
     a:hover {
        color: $black !important;
        text-decoration: none !important;
        opacity: 0.8;
        font-weight: normal;
     }
     i:hover {
        font-weight: bolder;
     }
    .vertical.dropdown.menu.accordion-menu {
        text-align: center;
    }

    .rights {
        font-size: 18px;
    }
    .subscribe-banner-container {    
        h6 {
            font-size: 44px;
            text-align: center;
        }
        p {
            font-size: 18px;
            text-align: center;
            margin-bottom: 50px;
        }
        form {
            display: flex;
            margin-left: auto;
            margin-right: auto;
            width: 455px;

            .newsletter-button {
                color: $white;
                font-weight: bolder;
                font-size: 20px;
                width: 120px;
            }
            input {
                height: 54px;
                width: 350px;
                border: 1px solid rgb(10, 10, 10);            
            }
            input::placeholder {
                color: $black;
                opacity: 1;
            }
            p {
                text-align: right;
            }
        }

        .newsletter-button {
            background-color: $black;
            color: $white;
        }

        .newsletter-button:hover,.newsletter-button:focus {
            background-color: $black;
            color: $white;
        }

    }
}
.text-center {
    text-align: center !important;
}
.article-image-wrapper {
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto 20px auto;
    height: 600px;
    background-attachment: fixed;
}
.divider{
    position: relative;
    span {
        background-color: $light-green;
        z-index: 8;
        position: relative;
        padding-left: 5px;
        padding-right: 5px;
        color: $black !important;
    }
    h3 {
        font-size: 20px !important;
        font-weight: 300 !important;
    }
}
.divider::before {
    content: '';
    height: 1px;
    width: 100%;
    display: block;
    position: absolute;
    top: 50%;
    background-color: black;
}
.container {
    width: 100%;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}
.spacer-800 {
    margin-bottom: 800px;
}
.spacer-700 {
    margin-bottom: 700px;
}
.spacer-600 {
    margin-bottom: 600px;
}
.spacer-300 {
    margin-bottom: 300px;
}
.spacer-250 {
    margin-bottom: 250px;
}
.spacer-200 {
    margin-bottom: 210px;
}
.spacer-160 {
    margin-bottom: 160px;
}
.spacer-150 {
    margin-bottom: 150px;
}
.spacer-100 {
    margin-bottom: 100px;
}
.spacer-90 {
    margin-bottom: 90px;
}
.spacer-65 {
    margin-bottom: 65px;
}
.spacer-60 {
    margin-bottom: 60px;
}
.spacer-50 {
    margin-bottom: 50px;
}
.spacer-40 {
margin-bottom: 40px;
}
.spacer-30 {
    margin-bottom: 30px;
}
.spacer-25 {
margin-bottom: 25px;
}
.spacer-20 {
margin-bottom: 20px;
}
.spacer-15 {
margin-bottom: 15px;
}
.spacer-10 {
margin-bottom: 10px;
}
.h_150 {
    height: 150px !important;
}
.h_300 {
    height: 300px !important;
}
.h_340 {
    height: 340px !important;
}
.h_400 {
    height: 400px !important;
}
.h_450 {
    height: 450px !important;
}
.h_500 {
    height: 500px !important;
}
.h_565 {
    height: 565px !important;
}
.h_590 {
    height: 590px !important;
}
.h_600 {
    height: 600px !important;
}
.h_650 {
    height: 650px !important;
}
.h_700 {
    height: 700px !important;
}
.h_750 {
    height: 750px !important;    
}
.w_525 {
    width: 525px !important;
}
.w_600 {
    width: 600px !important;
}
.column {
    .callout {
      padding: 0px;
      border: none;
    }
}
.main-article {

    a {
        margin-bottom: 10px !important;
    }
    .text-wrapper {
        text-align: center;
        color: $black;
        background-color: $white;

        .category {
            font-size: 10px;
            margin-bottom: 0px;
        }
        .title {
            font-size: 35px;
            margin-bottom: 0px;
        }
        .date {
            font-size: 13px;
            margin-bottom: 0px;
        }
    }
    .main-article-box {
        display: block;
        float: left;
        width: 100%;
        position: relative;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        margin-bottom: 25px;

        .overlay {
            display: grid;
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -ms-flex-align: center;
            -webkit-box-align: center;
        }
    
        .overlay:hover {
        background-color: $black;
        opacity: 0.5;
        color: $white;
        }
    }

    h2 {
        font-size: 1.5em;
    }
    .article-text {
        font-size: 1em;
    }
    .date {
        font-size: 11px;
    }
    h2:hover,.article-text:hover,.date:hover {
        opacity: 0.8;
    }
}
.medium-article {
    .medium-article-box {
        display: block;
        float: left;
        width: 100%;
        position: relative;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        margin-bottom: 25px;

        .overlay {
            display: grid;
            z-index: 1;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            -ms-flex-align: center;
            -webkit-box-align: center;
        }
    
        .overlay:hover {
        background-color: $black;
        opacity: 0.5;
        color: $white;
        }
    }

    h2 {
        font-size: 1.5em;
    }
    .article-text {
        font-size: 1em;
    }
    .date {
        font-size: 11px;
    }
    h2:hover,.article-text:hover,.date:hover {
        opacity: 0.8;
    }
}

.latest-articles-container {
    font-size: 12px;
    padding: 30px;

}
.small-article-container {
    font-size: 24px;
    text-align: center;
    box-shadow: 0px 0px 10px 1px rgba(10, 10, 10, 0.7);
    padding-bottom: 15px;
    background-color: $light-green;
    
    a {
        color: black;
    }
    a:hover {
        color: black;
        opacity: 0.8;
    }
    .date {
        text-align: center;
        font-size: 14px;
    }
    .small-article-img {
        display: block;
        background-position: center;
        background-size: cover;
    }
}
.borded {
    text-align: center;
     h4 {
         margin: 5px 0px;
     }
}
.bg-color-white {
    background-color: $white !important;
}
.archive-banner-container {
    background-color: $white;
    display: inline-block;
    width: 100%;
    font-size: 12px;
    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 0px;
    }

    ul {
        padding: 15px 30px 30px 30px;
    }
    a {
        padding: 20px 20px 20px 0px !important;
    }

}
.p-inherit {
    position: inherit !important;
}
.latest-banner-container {
    background-color: $white;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    padding-bottom: 20px;
    .date {
        color: $sec-color;
        text-align: left;
        font-size: 11px;
    }
    a {
        text-align: left;
    }
    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 0px;
    }
}
.categories-banner-container {
    background-color: $white;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 0px;
    }
    ul {
        padding: 15px 30px 30px 30px;
    }
    a {
        padding: 20px 20px 20px 0px !important;
        border-bottom: 1px solid $light-green;
    }
}
.column, .columns, .column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
    float: left !important;
}
.about-logo {
    height: auto;
    width: 80%;
    margin: 0px auto;
    display: block;
}
.offcanva-logo {
    width: 100%;
    height: 100%;
}
.footer-logo {
    height: 150px;
    width: 250px;
    margin: 50px auto 0px auto;
    display: block;
}
.main-logo {
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;

}
.philocalist-banner-wrapper {
    background-color: $menta;
    height: 350px;
    padding-top: 25px;

    .banner-logo {
        width: 475px;
        height: 300px;
        margin: 0 auto;
        display: block;
    }
}
.category-wrapper {
    display: flex;
    margin: 0 auto;
    width: 1120px;

    .photo-wrapper {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 0 25px 0 25px;
    }
    .category-text-wrapper {
        background-color: $menta;
        color: black;
        margin-top: 70px;
        margin-left: -70px;
        padding: 80px;
        text-align: center;

        p {
            font-size: 18px;
        }
        h3 {
            font-size: 36px;
        }
        .read-more {
            font-size: 24px;
            color: $black;
            background-color: $white;
            border-radius: 25px;
            width: 280px;
            height: 60px;
        }
    }
}
.category-photo-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 600px;
    color: white;    
    background-position: center;
    background-size: cover;
    text-align: center;

    h1 {
        font-size: 32px;
    }
}
.article-title-wrapper {
    color: $black;
    text-align: center;
    a {
        color: $black !important;
    }
    h1 {
        padding-top: 50px;
        font-size: 72px;
    }
    p {
        font-size: 24px;
        padding-bottom: 50px;
    }
    .column:first-child{
        border-right: $white 2px solid;
        p {
            font-size: 24px;
            padding: 0px 50px 50px 50px !important;
        }
    }

}
.article-main-image {
    display: flex;
    margin: auto auto 100px auto ;
}
.follow-banner-container {
    background-color: $white;
    display: inline-block;
    width: 100%;
    font-size: 20px;

    i {
        padding: 20px;
        border: 3px solid $light-green;
        border-radius: 15px;
        width: 100%;
        text-align: center;
    }

    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }

}
.author-banner-container {
    background-color: $white;
    font-size: 11px;
    display: inline-block;

    h3 {
        background-color: $black;
        color: $white;
        font-size: 14px !important;
        text-align: center;
        font-weight: bold;
        padding: 10px;
    }
}
.p-r-0 {
    padding-right: 0 !important;
}
.p-l-0 {
    padding-left: 0 !important;
}
.m-t-9 {
    margin-top: 9px !important;
}
.medium-article-texts {
    a {
        color: black;
    }
    p {
        padding: 0.5rem 1rem;
        margin-bottom: 0;
    }
    a:hover {
        color: black;
        opacity: 0.8;
    }
    li {
        font-size: 13px;
        i {
            font-size: 11px !important;
        }
    }
}
.owl-prev {
    left: 0;
    cursor: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIzNnB4IiBoZWlnaHQ9IjM2cHgiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzYgMzYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMzYsMTYuOSA0LjMsMTYuOSAxMS41LDkuNiA5LjksOCAwLDE4IDkuOSwyOCAxMS41LDI2LjQgNC4zLDE5LjEgMzYsMTkuMSAiLz48L2c+PC9zdmc+") 16 16, pointer !important;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    width: 90px;

}
.owl-next {
    right: 0;
    cursor: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIzNnB4IiBoZWlnaHQ9IjM2cHgiIHZpZXdCb3g9IjAgMCAzNiAzNiIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMzYgMzYiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwb2x5Z29uIGZpbGw9IiNGRkZGRkYiIHBvaW50cz0iMCwxOS4xIDMxLjcsMTkuMSAyNC41LDI2LjQgMjYuMSwyOCAzNiwxOCAyNi4xLDggMjQuNSw5LjYgMzEuNywxNi45IDAsMTYuOSAiLz48L2c+PC9zdmc+") 16 16, pointer !important;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    width: 90px;

}
#offCanvasMenu {

    display: flex;

    a, .fab, .fas, .fa {
        color: $black;
    }
    span {
        font-size: 44px !important;
        float: left;
        margin-left: 20px;
    }
    span:hover{
        cursor: pointer;
    }
    li a {
        font-size: 16px;
        color: gray;
    }
    li:first-child() a{
        color: $black;
    }

}
.off-canvas {
    background-color: $white !important;
    font-size: 12px;
    height: 100% !important;

    .dropdown-pane {
        width: 150px !important;
    }
    .find {
        background-color: $menta;
        padding: 5px;
    }
}
.p-l-10 {
    padding-left: 10px !important;
}
.m-0 {
    margin: 0px !important;
}
.carousel-title {
    color: $black;
    font-size: 24px;
    width: 90%;
    float: right;
}
.about-us-wrapper {
    padding: 100px 25px;
    color: $black;

    a {
        color: black;
        float: right;
        margin-right: 10px;
    }
    a:hover {
        font-weight: bold;
        color: black;
    }
    h2 {
        font-weight: lighter !important;
    }
}
.navigation-bar {

    height: 150px;
    color: $black;
    background-color: $white;

    h1{
        font-size: 36px !important;
        text-align: center;
    }

    .menu a,button, i{
        color: $black;
    }
    .fa.fa-bars {
        font-size: 28px !important;
        color: grey;
        font-weight: bold;
    }
    .fa.fa-bars:hover {
        cursor: pointer;/* 
        font-weight: bolder;
        box-shadow: 0px 0px 5px 1px rgba(10, 10, 10, 0.2); */
    }
    .fab, .fas {
        font-size: 22px !important;
    }
    .fab:hover, .fas:hover {
        font-weight: bolder;
        box-shadow: 0px 0px 5px 1px rgba(10, 10, 10, 0.2);
    }
    .menu {
        margin: auto;
    }
}
.main-photo-wrapper {
    width: 100%;
    height: 460px;
    color: white;
    background-position:center;
    background-size: cover;
    a {
        color: white !important;
    }
}
.padding-a {
    padding: 11.2px 16px;
}
.menu.vertical {
    position: absolute;
}
.menu.vertical.nested {
    position: inherit;
}
.d-flex {
    display: flex !important;
}
.nav-btn i{
    margin-top: 9px;
}
.totop {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 9999999999999999999999999;
    a i {
        color: $menta;
        font-size: 40px;
        box-shadow: 0px 0px 10px 1px rgba(10, 10, 10, 0.7);
        border-radius: 50%;
    }
}
    
.totop {
    display: none;
    text-align: center;
}
/* Mobile CSS */
@media print, screen and (max-width: 39.99875em) {
    body {
        overflow-x: hidden !important;
    }
    .spacer-200 {
        margin-bottom: 85px !important;
    }
    .nav-btn {
        position: fixed;
        width: 35px;
        height: 35px;
        top: 0px;
        left: 0px;
        background-color: $menta;
        box-shadow: 0px 0px 10px 1px rgba(10, 10, 10, 0.7);
        text-align: center;

        i.fa.fa-bars {
            font-size: 22px !important;
            margin-top: 6px !important;
        }
    }
    .navigation-bar .fa.fa-bars {
        font-size: 24px !important;
    }
    .article-image-wrapper {
        height: 500px !important;
        background-position: center center !important;
        background-size: cover !important;
    }
    .menu-logo {
        font-size: 11px;
    }
    .about-logo {
        margin-bottom: 30px !important;
        height: 100% !important;
        width: 100% !important;
    }

    .category-photo-wrapper {
        height: 500px !important;
        position: absolute;
        top: 0;
        width: 100%;
        height: 600px;
        color: white;
        background-position:center;
        background-size: center;
        height: 300px !important;
        background-size: cover !important;
        font-size: 10px !important;
    }
    .main-photo-wrapper {
        height: 500px !important;
        width: 100%;
        height: 600px;
        color: white;
        background-position:center;
        background-size: center;
        height: 300px !important;
        background-size: cover !important;
        font-size: 10px !important;
        a {
            color: white !important;
        }
    }
    .article-title-wrapper {
        padding: 25px !important;
        height: 100% !important;
        h1 {
            font-size: 32px !important;
        }
        p {
            font-size: 18px;
        }
        .column:first-child{
            border-right: none;
            border-bottom: white 2px solid;
            p {
                font-size: 12px;
            }
        }    
    }
    .article-main-image {
        margin: auto auto 25px auto ;
    }
    .main-logo {
        height: 80px !important;
    }
    .latest-articles-container {
        padding: 25px 0px 0px 0px !important;

    }
    .about-us-wrapper {
        padding: 0px 7px !important;
        text-align: center !important;
        a {
            float: none !important;
            font-size: 12px;
        }
    }
    .social-footer {
        width: 100%;
    }
    .spacer-100 {
        margin-bottom: 50px !important;
    }
    .spacer-90 {
        margin-bottom: 30px !important;
    }
    .spacer-200 {
        margin-bottom: 85px !important;
    }
    .spacer-250 {
        margin-bottom: 125px !important;
    }
    .spacer-300 {
        margin-bottom: 120px !important;
    }
    .spacer-600 {
        margin-bottom: 300px !important;
    }
    .spacer-700 {
        margin-bottom: 350px !important;
    }
    .h_400 {
        height: 200px !important;
    }
    .h_500 {
        height: 500px !important;
    }
    .h_750 {
        height: 350px !important;
    }
    .h_650 {
        height: 600px !important;
    }
    .h_600 {
        height: 300px !important;
    }
    footer {
        padding-top: 0 !important;

        .footer-logo {
            margin-top: 50px;
            margin-bottom: 30px !important;
            height: 100% !important;
            width: 100% !important;
        }
    }
    .article-text {
        font-size: 11px !important;
    }
    .date {
        font-size: 9px !important;
    }


    .subscribe-banner-container {
        padding: 10px !important;
        font-size: 18px !important;
        
        form {
            display: block !important;
    
            .newsletter-button {
                margin-right: 50px;
            }
            input, button {
                height: 50px;
                width: 100% !important;
            }
            p {
                text-align: center !important;
            }
        }
    
        .newsletter-button {
            background-color: #cfe2cf;
            color: $white;
            width: 100%;
        }
    
        .newsletter-button:hover,.newsletter-button:focus {
            background-color: $black;
        }
        h3 {
            background-color: $black;
            color: $white;
            font-size: 14px !important;
            text-align: center;
            font-weight: bold;
            padding: 10px;
        }
    
    }
}

/* Medium  CSS*/
@media screen and (max-width: 39.99875em) {
    .w-60 {
        width: 80% !important;
    }
}
/* Large  CSS*/
@media screen and (min-width: 39.99875em) {
    .p-l-r-29 {
        padding-left: 29px;
        padding-right: 29px;
    }
}
/* Very Large  CSS*/
@media screen and (min-width: 89.99875em) {
    .spacer-200 {
        margin-bottom: 300px !important;
    }
    .spacer-250 {
        margin-bottom: 350px !important;
    }
}
.c-black {
    color: $black !important;
}
.f-s-28 {
    font-size: 28px !important;
}
.f-right {
    float: right;
}
.f-left {
    float: left;
}